/* https://colorhunt.co/palette/15697 */

* {
  color: white;
  font-family: 'Open Sans', sans-serif;

}

.lightred {
  background-color: #E23E57
}

.red-t {
  background-color: rgba(161, 36, 74, 0.8)
}

.red2 {
  background-color: rgb(161, 36, 74)
}

.red {
  background-color: rgb(190, 40, 85)
}

.darkred {
  background-color: rgb(124, 27, 59)
}

.purple {
  background-color: #522546
}

.darkpurple {
  background-color: #311D3F
}

.font-white {
  color: whitesmoke;
}

.font-black {
  color: black;
}

.app {
  height: 100vh;
}

.main {
  min-height: 100vh;
  background: url('./assets/vg-wallpaper-dark.jpg') no-repeat center center fixed;
  background-size: cover;
}

.button {
  background-color: rgb(187, 58, 77)
}

#jumbotron {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
}

.title {
  color: black
}

.search-bar {
  width: 40vw;
  min-width: 25em;
  margin-top: 5vh;
}

.search-result:hover {
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 8vw;
  object-fit: cover;
}

.game-name {
  letter-spacing: 0.10em;
  font-size: 2.5em;
  border-bottom: solid 1px white;
}

.game-description {
  font-weight: 100;
  margin: 1em;
}

.screenshot {
  max-width: 30vw;
  max-height: 30vh;
  object-fit: contain; 
  margin-left: 1em;
  border-radius: 5px;
}

.gamebox {
  border-radius: 5px;
  padding: 40px;
  margin-top: 40px;
}

.box {
  border-radius: 5px;
  padding: 40px;
  margin-top: 40px;
}

.review-box {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
}

.review-subtext {
  font-size: .8em;
  padding-right: 5px;
}

.review-name {
  margin: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-bottom: solid 1px white;
  width: 100%;
  text-align: left;
}

.review-score, .review-headline, .review-review {
  margin-left: 1em;
}

.wreview-box {
  margin-top: 5vh;
}

.wreview-score{
  max-width: 80px;
}

.wreview-option {
  color: black;
}

.ureview-box {
  margin-bottom: 5vh;
  border: solid 2px white;
}

.card {
  font-weight: 100;
}

.card:hover {
  /* filter: drop-shadow(0.5em 0.5em 0 #E23E57); */
  filter: brightness(0.8);
  transition: 150ms ease;
}

#override .btn {
  background-color: rgb(161, 36, 74);
  border-color: white;
}

#override .btn:hover{
  filter: brightness(0.8);
  transition: 150ms ease;
}