/* https://colorhunt.co/palette/15697 */

* {
  color: white;
  font-family: 'Open Sans', sans-serif;

}

.red {
  background-color: #E23E57
}

.darkred {
  background-color: #88304E
}

.purple {
  background-color: #522546
}

.darkpurple {
  background-color: #311D3F
}

.font-white {
  color: whitesmoke;
}

.font-black {
  color: black;
}

.app {
  height: 100vh;
}

.main {
  min-height: 100vh;
  background: url('./assets/vg-wallpaper-dark.jpg') no-repeat center center fixed;
  background-size: cover;
}

#jumbotron {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
}

.title {
  color: black
}

.search-bar {
  width: 50vw;
  margin-top: 5vh;
}

.nav-item {
  color: black;
  font-size: 1em;
  margin-right: 1em;
}
.nav-item:hover {
  color: white;
  text-decoration-line: none;
}

.card {
  color: blue;
}

.card-img-top {
  width: 100%;
  height: 8vw;
  object-fit: cover;
}

.game-name {
  letter-spacing: 0.10em;
  font-size: 2.5em;
}

.game-description {
  font-weight: 100;
}

.screenshot {
  max-width: 30vw;
  max-height: 30vh;
  object-fit: contain; 
}

.gamebox {
  /* border: solid 1px whitesmoke; */
  border-radius: 5px;
  background-color: #88304EBB;
  padding: 40px;
  margin-top: 40px;
}

/* .review-body {
  background-color: #522546BB;
  margin: 20px;
  border-radius: 5px;
  padding-top: 12px;
} */

/* .review-header {
  margin-bottom: 20px;
} */

.review-box {
  border: solid 1px whitesmoke;
  padding: 10px;
}

.review-subtext {
  font-size: .85em;
  padding-right: 5px;
}